#wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    left: 10%;
    position: absolute;
}

#drop-zone {
    text-align: center;
    justify-content: center;
    align-items: center;
}

#card-wrapper {
    align-items: center;
    justify-content: center;
    text-align: center;
}


fw-card.dragging {
    ::ng-deep .fw-card {
        border: 1px solid var(--primary-border, rgba(27, 105, 250, 0.40));
        background-color: var(--primary-hover, rgba(27, 105, 250, 0.05));
        @extend .vision-shadow-large !optional;
    }
}

fw-card:dragging {
    ::ng-deep .fw-card {
      background-color: var(--primary-hover);
    }
  }

fw-card-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    align-items: center;
}

fw-card-content.dragging {
    border: 1px solid var(--primary-border, rgba(27, 105, 250, 0.40));
    background-color: var(--primary-hover, rgba(27, 105, 250, 0.05));
    @extend .vision-shadow-large !optional;

}


.dragging{
    border: 1px solid var(--primary-border, rgba(27, 105, 250, 0.40));
    background-color: var(--primary-hover, rgba(27, 105, 250, 0.05));
    @extend .vision-shadow-large !optional;
}

code {
    background-color: #343434; /* Dark grey background */
    color: #fff; /* White text color */
    border-radius: 4px; /* Rounded corners */
    font-family: monospace; /* Monospaced font for code */
    padding: 2px 4px; /* Top and bottom, left and right padding */
    border: 1px solid #ccc; /* Light grey border */
    font-size: 90%; /* Slightly smaller font size */
}

#code {
    background-color: #343434; /* Dark grey background */
    color: #fff; /* White text color */
    border-radius: 4px; /* Rounded corners */
    font-family: monospace; /* Monospaced font for code */
    padding: 2px 4px; /* Top and bottom, left and right padding */
    border: 1px solid #ccc; /* Light grey border */
    font-size: 90%; /* Slightly smaller font size */
}