<div id="wrapper">
    <fw-grid>
        <input 
            #fileInput 
            type="file" 
            style="display: none;"
            multiple="true"
            (change)="onChanges($event)"
        />
        <fw-grid-item [cols]="5" [variant]="'card-background'">
            <fw-card 
                [selectable]="true"
                (drop)="onDrop($event)"
                (dragover)="onDragOver($event)"
                (dragleave)="onDragLeave($event)"
                (click)="handleClick($event)"
                [class.dragging]="dragging"
            >
                <fw-card-content id="drop-zone">
                    <h1>Upload a file</h1>
                    <p>Click or Drag and drop file(s) to upload</p>
                </fw-card-content>
            </fw-card>
        </fw-grid-item>
        <fw-grid-item [cols]="7" [variant]="'card-background'">
            <div *ngIf="false">
                <table>
                    <thead>
                        <tr>
                            <th>File Name</th>
                            <th>File Size</th>
                            <th>Uploaded</th>
                            <th>Error</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let file of files">
                        <tr>
                            <td>{{file.file.name}}</td>
                            <td>{{calculateFileSize(file.file.size)}}</td>
                            <td>
                                <fw-icon *ngIf="file.uploaded === false else maybeFailed">pause</fw-icon>
                                <ng-template #maybeFailed>
                                    <fw-icon 
                                        *ngIf="file.error; else success" 
                                        size="24" 
                                        style="color: #d73d3d"
                                    >close-circled</fw-icon>
                                </ng-template>
                                <ng-template #success>
                                    <fw-icon 
                                        size="24" 
                                        style="color: #14ae5c"
                                    >done-checked-tracked</fw-icon>
                                </ng-template>
                            </td>
                            <td>{{file.error}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div *ngIf="true">
                <mat-table [dataSource]="files">
                    <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Name</th>
                        <td mat-cell *matCellDef="let file"> {{file.file.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="size">
                        <th mat-header-cell *matHeaderCellDef> Size </th>
                        <td mat-cell *matCellDef="let file"> {{calculateFileSize(file.file.size)}} </td>
                    </ng-container>

                    <ng-container matColumnDef="uploaded">
                        <th mat-header-cell *matHeaderCellDef> Status </th>
                        <td mat-cell *matCellDef="let file">
                            <fw-icon *ngIf="file.uploaded === false else maybeFailed">pause</fw-icon>
                            <ng-template #maybeFailed>
                                <fw-icon 
                                    *ngIf="file.error; else success" 
                                    size="24" 
                                    style="color: #d73d3d"
                                >close-circled</fw-icon>
                            </ng-template>
                            <ng-template #success>
                                <fw-icon 
                                    size="24" 
                                    style="color: #14ae5c"
                                >done-checked-tracked</fw-icon>
                            </ng-template>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="error">
                        <th mat-header-cell *matHeaderCellDef> Error </th>
                        <td mat-cell *matCellDef="let file" [innerHTML]="file.error"></td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> 
                </mat-table>

            </div>

        </fw-grid-item>
        <fw-grid-item [cols]="1" [variant]="'card-background'">
            <fw-button (click)="uploadFiles()">Upload</fw-button>
        </fw-grid-item>
        <fw-grid-item [cols]="1" [variant]="'card-background'">
            <fw-button color='danger' (click)="clearFiles()">Clear</fw-button>
        </fw-grid-item>
        <fw-grid-item [cols]="1" [variant]="'card-background'">
            <mat-progress-spinner 
                *ngIf="loading"
                mode="indeterminate"
                [diameter]="30"
            ></mat-progress-spinner>
        </fw-grid-item>
        <fw-grid-item [cols]="9" [variant]="'card-background'"/>
        <fw-grid-item [cols]="3" [variant]="'card-background'"/>
        <fw-grid-item [cols]="6" [variant]="'card-background'">
            <fw-alert *ngIf="errString"
                severity="error" 
                icon="warning-circle"
                [title]="errString"
                [showClose]="true"
                (close)="clearError()"
            ></fw-alert>
        </fw-grid-item>
            
        <fw-grid-item *ngIf="successString" [cols]="2" [variant]="'card-background'">
            <fw-alert 
                severity="success"
                icon="done-checked-tracked"
                [title]="successString"
                [showClose]="true"
            ></fw-alert>
        </fw-grid-item>
    </fw-grid>
</div>
